@use "../utils/colours" as *;
@use "../utils/mixins" as *;

.page {
  height: 100dvh;
  width: 100dvw;
  background-color: $light-grayish-cyan;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond-to("medium") {
    padding: 2rem;
  }
}
